body {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

#header {
  width: 1830px;
  background-image: url(../images/the-flatiron-building.png);
}

h1 {
  font-size: 70px;
}

.bold {
  font-weight:
}

nav {
  font-size: 18px;
}

a, h1, h4,#footer, #header{
  color: white;
}

h4 {
  font-size: 23px;
}
#footer {
 background-color: dimgray;
 text-align: left;
}
.copyright {
  font-size: 11px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 23px;
}
